:root {
  --primary-color: #00bcd4;
  --secondary-color: #333333;
  --tertiary-color: #424242;
  --quartary-color: #f8f9fa;
  --quintary-color: #cddc39;
  --background-color: #f7f7f7;
}

.App {
  text-align: center;
  background-color: #f7f7f7;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.color-test {
  color: #00bcd4;
}

.background {
  background-color: #f7f7f7;
}
