:root {
  --primary-color: #00bcd4;
  --secondary-color: #333333;
  --tertiary-color: #424242;
  --quartary-color: #f8f9fa;
  --quintary-color: #cddc39;
  --background-color: #f7f7f7;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app {
  text-align: center;
}

.color-test {
  color: #00bcd4;
}

.background {
  background-color: var(--background-color);
}

.myImage {
  width: 100%;
}
