:root {
  --primary-color: #00bcd4;
  --secondary-color: #333333;
  --tertiary-color: #424242;
  --quartary-color: #f8f9fa;
  --quintary-color: #cddc39;
  --background-color: #f7f7f7;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.no-margin {
  margin-left: 0 !important;
  margin-right: 0 !important;
  background-color: black;
}

.app {
  text-align: center;
  margin: 0;
}

.color-test {
  color: #00bcd4;
}

.background {
  background-color: var(--background-color);
}

.imageContainer {
  position: relative;
}

.myImage {
  width: 100%;
  height: auto;
  display: block;
}

.name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: white;
}

.profession {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
}

.title {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.progress-bar {
  width: 30%;
  background-color: #e0e0e0;
  border-radius: 4px;
  height: 20px;
  position: relative;
  margin: auto;
}

.progress-fill-30 {
  width: 30%;
  background-color: var(--primary-color);
  height: 100%;
  border-radius: 4px;
}

.progress-fill-50 {
  width: 50%;
  background-color: var(--primary-color);
  height: 100%;
  border-radius: 4px;
}

.progress-fill-60 {
  width: 60%;
  background-color: var(--primary-color);
  height: 100%;
  border-radius: 4px;
}

.progress-fill-70 {
  width: 70%;
  background-color: var(--primary-color);
  height: 100%;
  border-radius: 4px;
}

.progress-fill-80 {
  width: 80%;
  background-color: var(--primary-color);
  height: 100%;
  border-radius: 4px;
}

.video {
  width: 100%;
  object-fit: cover;
  object-position: left;
}

.projectVideo {
  width: 100%;
}

@media (min-width: 430px) {
  .title {
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .name {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 70px;
    color: white;
  }

  .profession {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: white;
  }
}
